<div class="container">
  <%= link_to "price", ducks_path(sorted_by: 'price')%>
  <%= link_to "name", ducks_path(sorted_by: 'name')%>
  <div class="test remove-underline link-text-black">
    <% @ducks.each do |duck| %>
        <%=link_to duck_path(duck) do %>
      <div class="card-listing border">
        <% if duck.photo.attached? %>
          <%= cl_image_tag duck.photo.key, class: "border" %>
        <% end %>
        <div class='card-listing-infos'>
          <h2><%= duck.name %></h2>
          <h2><%= duck.category %></h2>
        </div>
        <div class="card-listing-infos">
          <p><%= duck.description %></p>
          <h6><%= duck.price %> :&euro;</h6>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>
