<div class="test">
  <div class="card-trip">
    <% @ducks.each do |duck| %>
      <div class="card-trip">
        <% if duck.photo.attached? %>
          <%= cl_image_tag duck.photo.key %>
        <% end %>
      </div>
      <div class='card-trip-infos'>
        <h1><%= link_to duck.name, duck_path(duck) %></h1>
        <h2><%= duck.category %></h2>
        <p><%= duck.description %></p>
        <h3><%= duck.price %></h3>
      </div>
    <% end %>
</div>

