<div class="container">
  <%= simple_form_for([ @user, @duck]) do |form| %>
    <%= form.input :name %>
    <%= form.input :category %>
    <%= form.input :description %>
    <%= form.input :price %>
    <%= form.input :photo, as: :file %>
    <%= form.button :submit %>
  <% end %>

  <%= link_to('Back to home', root_path) %>
</div>
