<div class="test">
  <div class="card-trip">
    <%= cl_image_tag @duck.photo.key %>
    <div class="card-trip card-trip-infos">
      <h1> <%= @duck.name %></h1>
      <h2> <%= @duck.category %></h2>
      <p><%= @duck.description %></p>
      <% @duck.bookings.each do |booking| %>
        <p> <%= booking.date %></p>
      <% end %>
    </div>
    <%= simple_form_for ([@duck, @booking]) do |form| %>
      <%= form.input :date %>
      <%= form.button :submit %>
    <% end %>
  </div>
</div>
