<h2> <%= @duck.name %></h2>

<% if @duck.photo.attached? %>
  <%= cl_image_tag @duck.photo.key %>
<% end %>

<p> <%= @duck.category %></p>
<p><%= @duck.description %></p>
          <% @duck.bookings.each do |booking| %>
            <p> <%= booking.date %></p>
          <% end %>
            <%= simple_form_for ([@duck, @booking]) do |form| %>
              <%= form.input :date %>
              <%= form.button :submit %>
            <% end %>
